@use "global" as *;

.button {
  background: $accent;
  font-size: rem(14);
  font-family: $second-font-family;
  position: relative;
  z-index: 1;
  color: #fff;
  white-space: nowrap;
  font-weight: $normal;
  max-width: rem(202);
  width: 100%;
  padding: rem(15) rem(39);
  margin-bottom: 0.2rem;
  border: 2px solid $accent;
  background-color: $accent;
  display: flex;
  gap: rem(8);
  align-items: center;
}

.button__arrow {
  position: absolute;
  top: rem(20);
  right: rem(40);
  margin-left: rem(2);
  width: rem(41);
  height: rem(8);
  border-bottom: 1px solid $white;
  border-right: 1px solid $white;
  transform: skew(45deg);
}

.button__arrow.is-active {
  border-bottom: 1px solid $accent;
  border-right: 2px solid $accent;
}

.button::before {
  position: absolute;
  bottom: rem(-5);
  right: rem(-6);
  width: 100%;
  height: 100%;
  border: 1px solid $accent;
  content: "";
  z-index: -1;
}

.button::after {
  background: $white;
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 100%;
  transform: scale(0, 1);
  transform-origin: left top;
  transition: 0.2s cubic-bezier(0.45, 0, 0.55, 1);
  z-index: -1;
}
.button:hover {
  color: $accent;
  cursor: pointer;
}
.button:hover::after {
  transform: scale(1, 1);
}

// .button__text {
//   position: relative;
//   font-size: rem(14);
//   line-height: 1;
//   // font-family: $second-font-family;
// }

// .button__text::before {
//   /*下線の形状*/
//   position: absolute;
//   content: "";
//   bottom: rem(27);
//   left: 134px;
//   width: rem(42);
//   height: 1px;
//   background: $white;
//   z-index: 100;
// }

// .button__text:hover {
//   background: $accent;
// }

// .button__text::after {
//   position: absolute;
//   content: "";
//   bottom: rem(10);
//   right: rem(-8);
//   width: 85%;
//   height: 1px;
//   background: $white;
//   /*矢印の形状*/
//   width: rem(13);
//   height: 1px;
//   transform: rotate(45deg);
// }
// .button__text::before {
//   /*下線の形状*/
//   position: absolute;
//   content: "";
//   bottom: rem(5);
//   left: 70%;
//   width: rem(42);
//   height: 1px;
//   background: $white;
// }
// .button__text::after {
//   position: absolute;
//   content: "";
//   bottom: rem(10);
//   right: rem(-8);
//   width: 85%;
//   height: 1px;
//   background-color: $white;
//   /*矢印の形状*/
//   width: rem(13);
//   height: 1px;
//   transform: rotate(45deg);
// }

// .abutton {
//     margin: 10px;
//     width: 250px;
//     height: 50px;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     font-size: 23px;
//     color: #000;
//     border: 1px solid;
//     cursor: pointer;
// }

// .abutton {
//   background: $accent;
//   // overflow: hidden;
//   position: relative;
//   z-index: 1;
//   color: #fff;
//   display: inline-block;
//   font-weight: $normal;
//   max-width: rem(202);
//   width: 100%;
//   padding: rem(16) rem(40);
//   text-align: left;
//   margin-bottom: 0.2rem;
//   border: 2px solid $accent;
//   background-color: $accent;
// }

// .abutton::before {
//   position: absolute;
//   bottom: rem(-7);
//   right: rem(-7);
//   width: 100%;
//   height: 100%;
//   border: 1px solid $accent;
//   content: "";
//   z-index: -1;
// }

// .abutton::after {
//   background: $white;
//   position: absolute;
//   top: 0;
//   left: 0;
//   content: "";
//   width: 100%;
//   height: 100%;
//   transform: scale(0, 1);
//   transform-origin: left top;
//   transition: 0.2s cubic-bezier(0.45, 0, 0.55, 1);
//   z-index: -1;
// }
// .abutton:hover {
//   color: $accent;
//   cursor: pointer;
// }
// .abutton:hover::after {
//   transform: scale(1, 1);
// }

// .line01 {
//   position: absolute;
//   top: 50%;
//   width: rem(40);
//   right: rem(40);
//   height: 1px;
//   background-color: $white;
// }
// .line02 {
//   position: absolute;
//   top: 50%;
//   right: rem(40);
//   right: rem(40);
//   transform-origin: right bottom;
//   width: rem(9);
//   height: 1px;
//   background-color: $white;
//   transform: rotate(45deg);
// }

// .b-button {
//   background: $accent;
//   // overflow: hidden;
//   position: relative;
//   z-index: 1;
//   color: #fff;
//   display: inline-block;
//   // display: flex;
//   // gap: rem(8);
//   font-weight: $normal;
//   max-width: rem(207);
//   width: 100%;
//   padding: rem(15) rem(40);
//   text-align: left;
//   margin-bottom: 0.2rem;
//   border: 2px solid $accent;
//   background-color: $accent;
// }

// .b-button::before {
//   position: absolute;
//   bottom: rem(-6);
//   right: rem(-6);
//   max-width: rem(202);
//   width: 100%;
//   height: 100%;
//   border: 1px solid $accent;
//   content: "";
//   z-index: -1;
// }

// .b-button::after {
//   background: $white;
//   position: absolute;
//   top: 0;
//   left: 0;
//   content: "";
//   width: 100%;
//   height: 100%;
//   transform: scale(0, 1);
//   transform-origin: left top;
//   transition: 0.2s cubic-bezier(0.45, 0, 0.55, 1);
//   z-index: -1;
// }
// .b-button:hover {
//   color: $accent;
//   cursor: pointer;
// }
// .b-button:hover::after {
//   transform: scale(1, 1);
// }

// .text {
//   white-space: nowrap;
//   font-size: rem(14);
//   letter-spacing: 0.07em;
//   // text-align: left;
// }

// .b-line01 {
//   background-color: $white;
//   position: absolute;
//   top: 50%;
//   width: rem(40);
//   right: rem(40);
//   height: 1px;
//   margin-left: 8px;
// }
// .b-line01.is-active {
//   background-color: $accent;
// }
// .b-line02 {
//   background-color: $white;
//   position: absolute;
//   top: 50%;
//   right: rem(40);
//   right: rem(40);
//   transform-origin: right bottom;
//   width: rem(9);
//   height: 1px;
//   transform: rotate(45deg);
// }
// .b-line02.is-active {
//   background-color: $accent;
// }

// .a {
//   text-align: center;
//   margin: rem(50);
// }

// .wrapp {
//   display: flex;
//   gap: rem(8);
// }

// .arrow_box {
//   width: rem(40);
// }
