@use "global" as *;

.lower-blog {

}






.lower-blog__inner {

}



.lower-blog__contents {
  @include mq(md) {
    display: flex;
    gap: 7.40740741%;
  }
}

.lower-blog__content {
  width: 100%;
  @include mq(md) {
    width: 67.88461538%;
    
  }

}

.lower-blog__aside  {
  @include mq(md) {
    width: 28%;;
  }

}