@use "global" as *;

.page-contact {
}

.page-contact__inner {

}

.page-contact__content {
  margin: 0 auto;
  max-width: rem(375);
  width: 100%;
  @include mq(md) {
    max-width: rem(700);
  }
}

.page-contact__error {
  color: #c94800;
  display: none;
  font-size: 0.875rem;
  margin-bottom: 2.375rem;
  text-align: center;
}
