@use "global" as *;

.price-table {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

}

.price-table__heading {
  text-align-last: left;
  padding-bottom: rem(4);
  border-bottom: 1px solid $accent;
  font-weight: $bold;
  font-size: rem(16);
  @include mq(md) {
    font-size: rem(16);
    padding-bottom: rem(3);
  }

}

.price-table__course {
font-size: rem(14);
padding: rem(5) 0;
@include mq(md) {
  font-size: rem(16);
  padding: rem(5) 0;


}

}

.price-table__price {
text-align: right;
font-size: rem(14);
padding: rem(5) 0;
@include mq(md) {
  font-size: rem(16);


}

}

