@use "global" as *;

.to-top {
  display: none;
  position: fixed;
  right: rem(19);
  bottom: rem(40);
  transform: rotate(-90deg);
  z-index: 1000;
  overflow: hidden;
  @include mq(md) {
    right: rem(30);
    bottom: rem(31);
  }
}

